.Page-readerlist{
	
}
.Page-readerlist .item{
	padding-left: 2px;
}
.Page-readerlist .x-list-item-body{
	padding-left: 5px;
}
.Page-readerlist .item em{
	width: 8px;height: 8px;margin-right: 5px;
	position: relative;top: -2px;
	display: inline-block;
}
.Page-readerlist .todo em{
	background-color: orange;
}
.Page-readerlist .done em{
	background-color: none;
}